datasets
diffusers
transformers
timm
open-clip-torch
pyarrow
accelerate
einops
huggingface_hub[cli]
hf_transfer
tensorboard
matplotlib
protobuf
sentencepiece
tqdm
nvidia-nccl-cu12==2.20.5

# Pytorch
-f https://download.pytorch.org/whl/cu124
torch==2.4.1+cu124
torchvision==0.19.1+cu124
torchaudio==2.4.1
